
{% extends "_layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        Add a new Project
                    </h4>
                    <div class="basic-form">
                        <form id="customerForm" class="form" method="POST" action="" role="form">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.number.label }}
                                {{ form.number(placeholder="Project Number", class_="form-control input-default") }}
                            </div>
                            <div class="form-group">
                                {{ form.description.label }}
                                {{ form.description(placeholder="Project Description", class_="form-control input-default") }}
                            </div>
                            <div>
                                {{ form.customer.label }}
                                {{ form.customer }}
                            </div>
                            <input type="submit" class="btn btn-dark m-t-20" value="Add Customer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}